<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mde">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MDE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MaterialBuchungActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ScannerActivity"
            android:label="@string/title_activity_scanner"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PickListActivity"
            android:label=".activity_pick_list"/>
        <activity
            android:name=".DropListActivity"
            android:label=".activity_drop_list"/>
        <activity
            android:name=".InventurActivity"
            android:label=".activity_inventur"/>
    </application>

</manifest>